<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="assets/css/statisticsPage.css" rel="stylesheet">
    <title>Statistics | Webshop</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Shop</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" id="backHome" href="/">Home</a>
                        </li>
                        <li class="nav-item" style="background-color: rgba(6,6,6,0.2); border-radius: 15px;">
                            <a class="nav-link active" aria-current="page" href="/stats">Statistics</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                API
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/api/v1/commodities">Commodity</a></li>
                                <li><a class="dropdown-item" href="/api/v1/products">Product</a></li>
                                <li><a class="dropdown-item" href="/api/v1/statistics">Statistics</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container" id="statsContainer">
            <canvas id="chart"></canvas>
        </div>

        <div class="container" id="count" hidden>
            <a id="1" th:text="${SHP}"></a>
            <a id="2" th:text="${Spot}"></a>
            <a id="3" th:text="${Flex}"></a>
            <a id="4" th:text="${Base}"></a>
            <a id="5" th:text="${Flex2}"></a>
            <a id="6" th:text="${Peak}"></a>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© Copyright <span id="yearSpan"></span> Duha Cinar</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="assets/js/statisticsPageDate.js"></script>
</body>
</html>